body{
font-family:Arial, sans-serif;
margin:0;
background:#fafafa;
}

nav{
background:#222;
padding:15px;
text-align:center;
}

nav a{
color:white;
margin:15px;
text-decoration:none;
font-weight:bold;
}

header{
background:#ff6600;
color:white;
padding:60px;
text-align:center;
}

.section{
padding:40px;
text-align:center;
}

.card{
background:white;
display:inline-block;
padding:20px;
margin:10px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

footer{
background:#111;
color:white;
text-align:center;
padding:20px;
margin-top:30px;
}

.slider{
position:relative;
width:100%;
height:400px;
overflow:hidden;
}

.slides{
display:flex;
transition:transform 0.5s ease;
}

.slide{
min-width:100%;
}

.slide img{
width:100%;
height:400px;
object-fit:cover;
}

/* Buttons */

.prev, .next{
position:absolute;
top:50%;
transform:translateY(-50%);
background:rgba(0,0,0,0.5);
color:white;
border:none;
font-size:30px;
padding:10px;
cursor:pointer;
}

.prev{ left:10px; }
.next{ right:10px; }
